body {
  font-family: $sansFontFamily;
  line-height: $baseLineHeight;
  color: $textColor;
  @include font-size;
}

h1, h2, h3, h4, h5, h6 {
  color: $primaryBlackBold;
  line-height: 1.2;
  margin: 0.25em 0;
}

h1 { font-size: 36px; }
h2 { font-size: 26px; }
h3 { font-size: 18px; }
h4 { font-size: 15px; }
h5 { font-size: 15px; font-weight: normal; font-style: italic; }
h6 { font-size: 13px; }

h1 {
  &.page-title {
    margin: 0;
    line-height: 1;
  }
}

p {
  margin-bottom: 1em;
}

strong {
  color: $primaryBlackBold;
}

small {
  font-size: 85%;
}
